body {
    background: #f7f9fc;
}
.dashboard-card {
    transition: 0.3s;
    cursor: pointer;
}
.dashboard-card:hover {
    transform: scale(1.05);
    background: #f0f0f0;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.table{
    background: white;
}